@import "../../../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &__columns {
    display: flex;

    &__logo {
      border: 1px solid #000;
      flex: 10%;
    }

    &__navigation {
      border: 1px solid #000;
      flex: 80%;
    }

    &__search {
      border: 1px solid #000;
      flex: 10%;
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    &__columns {
      flex-direction: column;

      &__logo {
        flex: 100%;
      }

      &__navigation {
        flex: 100%;
      }

      &__search {
        flex: 100%;
      }
    }
  }
}