@import "../../../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;
  height: 120px;
  align-items: center;

  &__columns {
    display: flex;
    flex: 1;
    align-items: center;

    &__logo {
      border: 1px solid #000;
      padding-left: 50px;
    }

    &__navigation {
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      flex: 1;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        li {
          margin-right: 20px;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    &__search {
      border: 1px solid #000;
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    &__columns {
      flex-direction: column;

      &__logo {
        padding-left: 0;
      }

      &__navigation {
        align-items: center;

        ul {
          margin-top: 10px;
        }
      }

      &__search {
        margin-top: 10px;
      }
    }
  }
}

button {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 10px 20px;
  margin-right: 50px;
  height: 45px;
}